<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Transpoz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/dashboard">
              <i class="fas fa-home-alt"></i>&nbsp;Home
            </a>
          </li>
          <ul class="nav nav-pills">
            <li class="nav-item" *ngIf="hasRole('user')">
              <a class="nav-link" routerLink="clients-list">
                <i class="fas fa-book"></i>&nbsp;Clients
              </a>
            </li>
            <li class="nav-item" *ngIf="hasRole('driver')">  <a class="nav-link" routerLink="drivers-list">
                <i class="fas fa-book"></i>&nbsp;Drivers
              </a>
            </li>
          </ul>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="my-waiting-list">
              <i class="fas fa-heart"></i>&nbsp;Order
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="my-active-order">
              <i class="fa-solid fa-truck-fast"></i>&nbsp;active orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="my-finished-order">
              <i class="fas fa-list-check"></i>&nbsp;finished order
            </a>
          </li>
        </ul>
        <form class="d-flex gap-2 align-items-center" role="search">
          <input class="form-control" type="search" placeholder="Find a book" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
          <span>Welcome</span>
          <span class="text-capitalize fw-bold">{{ fullUserName }}</span>
          <button class="btn btn-link" type="submit" (click)="logout()"><i class="fas fa-door-open"></i></button>
        </form>
      </div>
    </div>
  </nav>
  